@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #23252c;
  color: #fff;
}

.container {
  margin: auto;
  width: 270px;
  height: 690px auto;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #1a1b21;
}

.profile_photo {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.info {
  text-align: center;
  padding: 12px 0 12px 0;
}

.info > h4 {
  color: #f3bf99;
  font-weight: 100;
  font-size: 12px;
}

.name,
.title,
.website {
  margin: 0;
}

.website {
  line-height: 30px;
  font-size: 11px;
}

.button {
  /*   border: 1px solid #fff; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  border-radius: 6px;
  border-style: none;
}

button:hover,
.icon {
  cursor: pointer;
}

.email,
.linkedin {
  width: 115px;
  height: 34px;
}

.linkedin {
  background-color: #5093e2;
  color: #fff;
}

.fa-envelope {
  color: #000;
}

.icon {
  padding-right: 8px;
}
.about,
.interest {
  padding: 0 15px;
}

.about_title,
.interest_title {
  margin-bottom: 0;
}

.about_text,
.interest_text {
  font-size: 10px;
  line-height: 17px;
}

.footer {
  text-align: center;
}

.footer > a > .icon {
  font-size: 32px;
  margin-top: 5px;
  padding: 15px;
}

.footer > a {
  color: #918e9b;
}
